.bs-table-header-class {
    background-color: #edf5f4;
}
.bs-table-body-class {
    background-color: #f7f7f7;
}

.my-container-class{
    background-color: darkviolet;
}

.scrollme {
    overflow-x: auto;
    overflow-y: auto;
}

.table-responsive
{
    width: 200%;
    max-width:200%;
    margin-bottom: 15px;
    overflow-x: visible;
    overflow-y: visible;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #000000;
}

.expanded-container{
    max-height: 90vh;
    max-width: 100vw;
    overflow: scroll;
    white-space: nowrap;
    border: 1px solid #000000;
}